.container {
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--c-surface-variant);
}

.contentContainer {
  composes: VStack from "../../base-styles.module.css";
  gap: 12px;
  align-items: center;
  padding: 0 16px 12px 16px;
  margin-top: -28px;
}

.infoContainer {
  composes: VStack from "../../base-styles.module.css";
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--c-outline);
}

.profileName {
  composes: labelL from "../../base-styles.module.css";
  text-align: center;
}

.profileRole {
  composes: bodyS from "../../base-styles.module.css";
  color: var(--c-on-surface-medium);
  text-align: center;
}
